#header {
    font-family: cursive;
    color: darkslategrey;
}

#list {
font-family: fantasy;
color: black;
}

.links:visited {
    color: aqua
}

#done {
    background-color: aqua;
    color: red;
    border: indianred;
    font-family: monospace;
    border-radius: 20%;
}

#done:hover {   
    background-color: blue;
    color: red;
    border: indianred;
}

.container {
color: white;
background-color: green;
height: 150px;
width: 400px;
font-family: fantasy;
max-width: 500px;
min-width: 100px;
}