#table{
    background-color: navajowhite;
}

#Row1{
font-family: fantasy
}

#Row2{
font-family: fantasy
}

#Row3{
font-family: fantasy
}

#Row4{
font-family: fantasy
}

#Row5{
font-family: fantasy
}

#Row6{
font-family: fantasy
}

#Row7{
font-family: fantasy
}

#Row8{
    font-family: fantasy;
    background-color: tomato;
}

#Row9{
    font-family: fantasy;
    background-color: orange;
}

#MediumSlateBlue{
    background-color: mediumslateblue;
}

#LightGray{
    background-color: lightgray;
}

#Aquamarine{
    background-color: aquamarine;
}

#Gold{
    background-color: gold;
}

#GreenYellow{
    background-color: greenyellow;
}

#red{
    background-color: red;
}

#DarkGreen{
    background-color: darkgreen;
}

#Lavender{
    background-color: lavender;
}

#SaddleBrown{
    background-color: SaddleBrown;
}

#sienna{
    background-color: sienna;
}